[submodule "input-and-output/printing/pacePythonTester"]
	path = input-and-output/printing/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/variables/pacePythonTester"]
	path = input-and-output/variables/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/user-input/pacePythonTester"]
	path = input-and-output/user-input/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/format-print/pacePythonTester"]
	path = input-and-output/format-print/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/type-casting/pacePythonTester"]
	path = input-and-output/type-casting/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/math/pacePythonTester"]
	path = math-operators/math/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/comparison/pacePythonTester"]
	path = math-operators/comparison/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
