[submodule "input-and-output/printing/pacePythonTester"]
	path = input-and-output/printing/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/variables/pacePythonTester"]
	path = input-and-output/variables/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/user-input/pacePythonTester"]
	path = input-and-output/user-input/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/format-print/pacePythonTester"]
	path = input-and-output/format-print/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "input-and-output/type-casting/pacePythonTester"]
	path = input-and-output/type-casting/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/math/pacePythonTester"]
	path = math-operators/math/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/comparison/pacePythonTester"]
	path = math-operators/comparison/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "conditionals/else-if-blocks/pacePythonTester"]
	path = conditionals/else-if-blocks/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "conditionals/if-else-statements/pacePythonTester"]
	path = conditionals/if-else-statements/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "conditionals/if-statements/pacePythonTester"]
	path = conditionals/if-statements/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "conditionals/logical-operators/pacePythonTester"]
	path = conditionals/logical-operators/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "conditionals/nested/pacePythonTester"]
	path = conditionals/nested/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "loops/while/pacePythonTester"]
	path = loops/while/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "loops/for/pacePythonTester"]
	path = loops/for/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "loops/lists/pacePythonTester"]
	path = loops/lists/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "loops/range/pacePythonTester"]
	path = loops/range/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "functions/user-defined/pacePythonTester"]
	path = functions/user-defined/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "functions/function-arguments/pacePythonTester"]
	path = functions/function-arguments/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "functions/return-values/pacePythonTester"]
	path = functions/return-values/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/geometry/pacePythonTester"]
	path = math-operators/geometry/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
[submodule "math-operators/floor-division/pacePythonTester"]
	path = math-operators/floor-division/pacePythonTester
	url = https://github.com/dsu-arl/pacePythonTester
